# Secrets
.env
esp32/main/config.h

# Python
__pycache__/
*.py[cod]
*.pyc
venv/
.venv/
*.egg-info/

# Bases locales
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Tests / build
.approval_tests_temp/
.pytest_cache/
htmlcov/
.coverage